#hoa{
    position: relative;
    margin: 30px 300px;
    width: 500px;
    max-height: 262px;
}


#bt-back {
    width: 40px;
    height: 50px;
    background-color: rgba(236, 236, 241, 0.137);
    z-index: 1;
    margin: 0px;
    position: absolute;
    top: 250px;
    left: 350px;
    border-radius: 10px;
    font-weight: bold;
    color: #ccc;
}

#bt-next,
#bt-back {
    cursor: pointer;
    background-color: #ccc;
}

.next{
    
}


#bt-next {
    width: 40px;
    height: 50px;
    background-color: rgba(236, 236, 241, 0.137);
    z-index: 1;
    position: absolute;
    top: 250px;
    right: 400px;
    border-radius: 10px;
    font-weight: bold;
}

  /* slide */

  /* .slide{
    width: 100%;
    height: 200px;
} */